@model IEnumerable<EstacionamientoInteligente.Models.Pago>

@{
    ViewData["Title"] = "Registros de Salida";
}

<h1>Registros de Salida</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehiculo)
            </th>
            <th>
                Minutos Estacionado
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinutosEstacionado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPago)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
        <form asp-action="GenerarReporte" method="get">
            <div class="form-group">
                <label for="fecha">Fecha del Reporte:</label>
                <input type="date" id="fecha" name="fecha" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-primary">Descargar Reporte PDF</button>
        </form>

    </tbody>
</table>