@model IEnumerable<EstacionamientoInteligente.Models.Vehiculo>
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/vehiculos.css" />
<h1>Listado Vehiculos</h1>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Placa)</th>
            <th>@Html.DisplayNameFor(model => model.HoraEntrada)</th>
            <th>@Html.DisplayNameFor(model => model.HoraSalida)</th>
            <th>Tiempo Transcurrido</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Placa)</td>
                <td>@Html.DisplayFor(modelItem => item.HoraEntrada)</td>
                <td>@Html.DisplayFor(modelItem => item.HoraSalida)</td>
                <td>
                    <span class="cronometro" data-entrada="@item.HoraEntrada.ToString("O")"
                        data-salida="@(item.HoraSalida.HasValue ? item.HoraSalida.Value.ToString("O") : "")">
                        00:00:00
                    </span>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/cronometro.js"></script>
}